@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --text: #213547;
}

.dark {
  --background: #1C1B1B;
  --text: rgba(255, 255, 255, 0.87);
}

::selection{
  background-color: var(--text);
  color: var(--background);
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.3s ease, color 0.3s ease;
}
body::-webkit-scrollbar{
  display: none;
}

.blur-load {
  filter: blur(20px);
  clip-path: inset(0);
}

.blur-load.loaded {
  filter: blur(0);
  transition: filter 1.5s ease;
}

.tech-stack-icon {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.tech-stack-icon:hover {
  filter: grayscale(0%);
}

@keyframes shimmer {
  0% { transform: translateX(-100%) skewX(-12deg); }
  100% { transform: translateX(200%) skewX(-12deg); }
}